.sec1_div{
    background-color: rgb(245, 240, 230);
    display: inline-block;
}
.sec2_div{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white;
    display: inline-block;
}
.sec3_div{
    background-color: rgb(245, 240, 230);
    display: inline-block;
}
.sec4_div{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white;
    display: inline-block;
    padding: 10px;

    #sec4{
        font-size: 40px;
        padding: 0;
    }
}
#navbar li a:hover {
    background-color: #182b49;
    color: white!important;
}
#uclogo img{
    max-width:400px;
    height: auto;
}
#navbar{
    li{
        display: inline;
        a{
            font-size: 28px;
        }
    }
    position: sticky;
    top: 0;
    background-color: white;
}

img{
    max-width: 100%;
    height: auto;
}
h2{
    font-size: 28px;
    padding: 10px;
}
p{
    font-size: 24px;
    padding: 10px;
}
label{
    padding: 10px;
}
.txt_row .txt_col{
    background-color: #182b49;
    color:white;
    max-height: 400px;
    overflow-y: auto;
    display: inline-block;
    font-size: 24px;
}
.txt_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    a {
        display: none; 
    }
    #uclogo img{
        max-width:75%;
        height: auto;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
    .txt_row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #sec4{
        font-size: 28px;
    }
}